header {
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
    #headerSection {
        padding: 0;
        background: rgb(110, 177, 216);
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
    }
    .headerContent {
        justify-content: space-between;
    }
}

#svgSection {
    background: rgb(110, 177, 216);
    padding-top: 0;
    padding-bottom: 0;
}

#mainSection {
    background: #2f3e46;
}

#footerSection {
    padding: 0;
    background: rgb(110, 177, 216);
}

.paddingTopZero {padding-top: 0;}

.vertical_align {
    display: flex;
    align-items: center;
    .hamburger-react {
        margin-left: 0.25rem;
    }
}


@media screen and (max-width: 768px) {
    body .content .columns {
      margin-left: 0;
      margin-right: 0;
    }
    .desktop {
        display: none;
    }
    header { margin-bottom: 60px}
    header .headerContent {
        justify-content: flex-start;
    }
}