#headerSection {
    padding: 0;
    background: rgb(110, 177, 216);
}

#svgSection {
    background: rgb(110, 177, 216);
    padding-top: 0;
    padding-bottom: 0;
}

#mainSection {
    background: #2f3e46;
}

#footerSection {
    padding: 0;
    background: rgb(110, 177, 216);
}

.paddingTopZero {padding-top: 0;}


@media screen and (max-width: 600px) {
    body .content .columns {
      margin-left: 0;
      margin-right: 0;
    }
  }