#heroSVGS {
    position: relative;
}
#sunSVG {
    padding: 10rem 0;
    position: relative;
    svg#heroSVG {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        background: #2f3e46;
    }
}

#treesContainer {
    position: relative;
    width: 100%;
    height: 400px;
    top: -100px;
    margin-bottom: -105px;
    div.trees {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #tree1 { background-image: url(/trees/1.svg) }
    #tree2 { background-image: url(/trees/2.svg) }
    #tree3 { background-image: url(/trees/3.svg) }
    #tree4 { background-image: url(/trees/4.svg) }
    #tree5 { background-image: url(/trees/5.svg) }
}

#firstMask {
    padding: 15rem 0;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;

        mask {
            text {
                stroke-width: 2;
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
                stroke: rgb(110, 177, 216);
                fill: none;
            }
        }
        image {
            opacity: 0;
        }

        &.animate {
            mask {

                text {
                    animation-name: strokeDashOffsetOut, fillIn;
                    animation-duration: 3000ms, 500ms;
                    animation-delay: 0ms, 1200ms;
                    animation-timing-function: ease-in, ease-out;
                    animation-iteration-count: 1, 1;
                    animation-fill-mode: forwards;
                }
    
            }
            image {
                animation-name: fadeIn;
                animation-duration: 500ms;
                animation-delay: 1200ms;
                animation-timing-function: ease-in-out;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
        }


    }

}

#textSVGContainer {

    -webkit-perspective: 140px;
    perspective: 140px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    animation-name: perspectiveNormal;
    animation-duration: 1000ms;
    animation-delay: 2500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    #textSVG {
        -webkit-transform: rotateX(2deg) rotateY(-15deg);
        transform: rotateX(2deg) rotateY(-15deg);
       
        text {
            font-family: 'Oleo Script', cursive;
            font-size: 80px;
            stroke-width: 3;
            stroke-dasharray: 5000;
            stroke-dashoffset: 5000;
            -webkit-transform: rotateX(2deg) rotateY(-15deg);
            transform: rotateX(2deg) rotateY(-15deg);
            
            &.textBack {
                fill: transparent;
                stroke: gold;
            }
            &.textFront {
                // display: none;
                stroke-width: 1;
                fill: transparent;
                stroke: #fff;
            }
        }

        path {
            fill: transparent;
            stroke: #8C3B3A;
            stroke-width: 5;
            stroke-dasharray: 5000;
            stroke-dashoffset: 5000;
            &:first-child {
                stroke: none;
            }
        }

        &.animate {
            text {                
                &.textBack {
                    animation-name: fillInSVGBack;
                    animation-duration: 1000ms;
                    animation-delay: 0ms;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }
                &.textFront {
                    stroke-width: 2;
                    animation-name: strokeDashOffsetOut, fillInSVGFront;
                    animation-duration: 9000ms, 500ms;
                    animation-delay: 0ms, 1500ms;
                    animation-timing-function: ease-in-out, ease-in-out;
                    animation-iteration-count: 1, 1;
                    animation-fill-mode: forwards;
                }
            }
            
        }

    }

}


@media screen and ( min-width: 769px ) {
    #textSVG.animate #curveLine {
        animation-name: strokeDashOffsetOut;
        animation-duration: 1000ms;
        animation-delay: 1500ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@media screen and ( max-width: 768px ) {

    #textSVGContainer {
        transform: scale(0.75);
    }

    #curveLine {
        transform: scale(0.75) translateY(10%);
    }
    #textSVGContainer #textSVG.animate text.textBack,
    #textSVGContainer #textSVG.animate text.textFront {
        transform: scale(0.75);
    }

}