#headerSection {
    padding: 0;
    background: #F93F32;
}

#svgSection {
    background: rgb(110, 177, 216);
    padding-top: 0;
    padding-bottom: 0;
}

#mainSection {
    padding-top: 0;
    background: gold;
}